{{with .Site.Params.card}}
  <meta name="twitter_card" property="twitter:card" content="{{.twitter_card}}">
  <meta name="twitter_site" property="twitter:site" content="{{.twitter_site}}">
  <meta name="twitter_creator" property="twitter:creator" content="{{.twitter_creator}}">
  <meta name="og_site_name" property="og:site_name" content="{{.og_site_name}}">
  <meta name="og_url" property="og:url" content="{{.og_url}}">
  <meta name="og_title" property="og:title" content="{{.og_title}}">
  <meta name="og_description" property="og:description" content="{{.og_description}}">
  <meta name="og_image" property="og:image" content="{{.og_image}}">
  <meta name="twitter_image" property="twitter:image" content="{{.twitter_image}}">
  <meta name="og_locale" property="og:locale" content="{{.og_locale}}">
{{end}}